.main-body{
    width: 100%;
    height: 100%;
    padding: 0px 100px  0px 100px;
    
}

.tab-container{
    align-items: center;
    width: 100%;
    height: 100%;
}
.tab-header-container{
    display: flex;
    padding: 20px;
}
.tab-header {
    margin: auto;
}

.sdnt-table {
    border: 1px solid rgb(4, 4, 4);
    border-spacing: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    
}
.add-btn-container {
    display: flex;
    padding: 10px;
  
}
th {
    text-align: left;
    border: 1px solid black;
    height: 30px;
    padding-left: 8px;
}
td {
    text-align: left;
    border: 0.75px solid black;
    padding-left: 8px;
    /* width: 200px; */
}
.btn-container{
    margin-left: 0%;
    display: flex;
    width: max-content;
    justify-content: space-evenly;
    gap: 20px;
}
.btn {
    width: 100px;
    /* border: 1px solid rgb(115, 112, 112); */
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: rgb(141, 184, 184);
    margin: 2px;
}
.add-btn{
    background-color: rgb(58, 58, 219);
    color: white;
}

.view-btn{
    background-color: rgb(107, 196, 103);
    color: white;
}
.edit-btn{
    background-color: rgb(92, 92, 172);
    color: white;
}
.del-btn{
    background-color: rgb(181, 68, 66);
    color: white;
}